@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bar-color: #2a2f33;
  --dark-color: #f8f7f1;
  --second-bg-color: #8c9491;
  --bg-color: #8c8c9c;
  --border-color: #bdbdc4;
  --text-color: #041a20;
  --bar-shadow:
    0 -3px 3px #26228d0d,
    inset 0 -3px 3px #09075e0d,
    0 3px 3px #1208474d,
    inset 0 3px 3px #1608664d;
}

.markets {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.positive {
  color: #01e001;
  border-radius: 5px;
}

.negative {
  color: rgba(255, 0, 0, 0.959);
  border-radius: 5px;
}

.page-forex,
.page-majors,
.page-crypt,
.page-stocks,
.page-efts {
  font-family: 'Poppins', 'Roboto Slab', sans-serif;
  width: 480px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #ffffffb7;
  border: 1px solid var(--border-color);
}

.go-back {
  text-align: left;
  padding: 0.2rem 0.2rem 0.2rem 0;
  border: none;
  background: none;
}

.chevron.left {
  font-size: 1.2rem;
  color: #fff;
}

.go-back:hover .chevron.left {
  color: var(--text-color);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  background: var(--second-bg-color);
}

.expand-button {
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
  font-weight: 500;
  color: #fff;
}

.expand-button .chevron.up,
.expand-button .chevron.down {
  margin-left: 0.5rem;
  color: #fff;
}

.expand-button:hover .chevron.up,
.expand-button:hover .chevron.down {
  color: var(--text-color);
}
